# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm & VSCode project files
.idea/
.vscode/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# Pytest cache
.pytest_cache/

# VS Code extension settings
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
